.navbar {
  &__link {
    display: inline-flex;

    height: 15%;
    width: 15%;

    background: #963;
    border-radius: 7px;

    margin: 15px 0 0 15px ;
    align-items: center;
    justify-content: center;

    color: #fff;
  }
}